{
	"email": "user@host.org",
	"password": "SECRET",
	"endpoint": "https://mobilizon.org/api",
	"identity": 0,
	"dry_run": true,
	"modules": {
		"demopartynet": { "enabled": true, "identity": 0 }
	}
}
